Package: wolf3d
Version: 
Description: RetroGame port of Wolfenstein 3D
Section: emus
Priority: optional
Maintainer: pingflood
Architecture: mipsel
Homepage: https://github.com/retrofw/wolf3d
Depends:
Source: https://github.com/retrofw/wolf3d
